<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="mb-3">
                    <label for="inputUsername" class="form-label">Username</label>
                    <input type="text" class="form-control" id="inputUsername" formControlName="username">
                </div>
                <div *ngIf="username?.touched && username?.errors?.['required']" class="alert alert-danger">
                    This field is required!
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword" formControlName="password">
                </div>
                <div *ngIf="password?.touched && password?.errors?.['required']" class="alert alert-danger">
                    This field is required!
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>